* {
  color: $black;
  font-family: $font-family;
}

html {
  font-size: $font-size-body;
}

h1 {
  font-weight: $font-extra-bold;
  font-size: 3.5em;
  line-height: 100%;
}

p {
  font-size: 1em;
}

a {
  text-decoration: none;
}