// colors
$black: #220C22;
$gray: #E0E0E0;
$green: #42b983;
$purple: #6D3CC8;
$purple-light: #F5F7FA;
$white: #ffffff;

// Building Units
$building-unit: 10px;
$building-unit-x0_5: $building-unit / 2; // 5px
$building-unit-x1_5: $building-unit + $building-unit-x0_5; // 15px
$building-unit-x2: $building-unit * 2; // 20px
$building-unit-x2_5: $building-unit * 2.5; // 25px
$building-unit-x3: $building-unit * 3; // 30px
$building-unit-x4: $building-unit * 4; // 40px
$building-unit-x5: $building-unit * 5; // 50px
$building-unit-x6: $building-unit * 6; // 60px
$building-unit-x7: $building-unit * 7; // 70px
$building-unit-x8: $building-unit * 8; // 80px
$building-unit-x9: $building-unit * 9; // 90px
$building-unit-x10: $building-unit * 10; // 100px
$building-unit-x11: $building-unit * 11; // 110px
$building-unit-x12: $building-unit * 12; // 120px
$building-unit-x14: $building-unit * 14; // 120px
$building-unit-x15: $building-unit * 15; // 150px

$default-transition: all .4s;
$border-radius: 16px;
$border-radius_x0_5: 8px;
$box-shadow: 2px 2px 10px rgba(189, 189, 189, 0.15);
$box-shadow-darker: 2px 2px 10px rgba(189, 189, 189, .3);

$font-family: "TT Norms";

// font-weights
$font-thin: 100;
$font-regular: 400;
$font-medium: 600;
$font-bold: 700;
$font-extra-bold: 900;

// media queries
$mobile: 'max-width: 767px';
$tablet: 'max-width: 1024px';
$desktop: 'max-width: 1279px';
$wide-desktop: 'max-width: 1679px';
$large-desktop: 'max-width: 1899px';

$font-size-h1: 48px;
$font-size-body: 14px;